[shared params]

#How many seconds the lever should be presented
lever out duration = 10

#Where to save all files
exportpath = /media/leelab/Elements/data
#exportpath = ~/Desktop/sign_tracking/data

#Which lever to use
lever side = right

#Camera,arduino, camera,arduino etc
device pairs = 0,0,4,1

[conditioning params]

number of pairings = 35
average iti = 60
std iti = 30
min iti = 30
max iti = 90

[precond params]

number of pairings = 50
average iti = 30
std iti = 15
min iti = 15
max iti = 45
